<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SmtpServer" value="smtp.office365.com" />
    <add key="SmtpSenderMail" value="hqportal@stihq.net" />
    <add key="SmtpSenderName" value="HQ Portal" />
    <add key="SpeedoUrl" value="http://localhost:52398" />
    <add key="PageSize" value="20" />
    <add key="ForumPageSize" value="20" />
    <add key="ProcurementManager" value="erwin.torres" />
    <add key="SuppliesCustodian" value="jim.hernandez" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="CurrentSynergyID" value="4" />
    <add key="CurrentSynergyThreadTypePost" value="4" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Speedo" connectionString="data source=hades; initial catalog=MySTIHQ; user id=usermystihq; password=F0r3v3rho" providerName="System.Data.SqlClient" />-->
    <!--<add name="Speedo" connectionString="data source=medusa; initial catalog=mystihq_20160711; user id=sa; password=masterkey" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Speedo" connectionString="data source=hatshepsut.cnwsjht2ssio.ap-southeast-1.rds.amazonaws.com,1433; initial catalog=db_mystihq; user id=rflores; password=1Passw0rd" providerName="System.Data.SqlClient" />-->
    <add name="Speedo" connectionString="data source=W2K12R2-MIS\SQLEXPRESS2008R2; initial catalog=MySTIHQ; user id=sa; password=H1!dm2017" providerName="System.Data.SqlClient" />
    <add name="ACM" connectionString="data source=ALFONSO\SQLEXPRESS; initial catalog=ACM; user id=sa; password=t1m3" providerName="System.Data.SqlClient" />
    <add name="GreatPlains" connectionString="server=192.168.0.21; uid=sa; pwd=; database=sti" />
    <add name="Omega" connectionString="server=SES2; uid=sa; pwd=0m3g@; database=omega_sti_hq" />
    <add name="Wire" connectionString="server=192.168.0.28; uid=root; password=masterkey; database=db_IRE" providerName="MySql.Data.MySqlClient" />
    <add name="WireV2" connectionString="server=hades; uid=userwire; password=F0r3v3rwire; database=WIREDB" providerName="MySql.Data.MySqlClient" />
    <!--<add name="MySTIHQ110523ConnectionString1" connectionString="data source=hades; initial catalog=MySTIHQ; user id=usermystihq; password=F0r3v3rho" providerName="System.Data.SqlClient" />-->
    <!--<add name="MySTIHQ110523ConnectionString1" connectionString="data source=medusa; initial catalog=mystihq_20160711; user id=sa; password=masterkey" providerName="System.Data.SqlClient" />-->
    <add name="MySTIHQ110523ConnectionString1" connectionString="data source=hatshepsut.cnwsjht2ssio.ap-southeast-1.rds.amazonaws.com,1433; initial catalog=db_mystihq; user id=rflores; password=1Passw0rd" providerName="System.Data.SqlClient" />
    <!--8005
    <add name="ORACLEConStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=hennessy.sti.edu)(PORT=1526)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=CLONE)));User Id=apps;Password=apps;"/>-->
    <!--PRODUCTION-->
    <!--<add name="ORACLEConStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=eros.sti.edu)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=PROD)));User Id=apps;Password=apps;"/>-->
    <!--PRODUCTION2-->
    <add name="ORACLEConStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=eros.sti.edu)(PORT=1522)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=PROD2)));User Id=apps;Password=apps;" />
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="chart" path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler,System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral,PublicKeyToken=31bf3856ad364e35" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="MemberLogin.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <httpRuntime maxRequestLength="32768" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="Oracle.DataAccess, Version=2.112.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network defaultCredentials="true" host="perseus.sti.edu" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>